.container {
    position: relative;
}

.main {
    margin: 2rem 8rem;

    &__breadcrumbs {
        margin: 2rem 0;
        font-size: 1.2rem;
        font-weight: 600;
        color: $alternate-text-color;
        display: flex;
        align-items: center;
        
        ul li {
            display: inline-block;

            &:not(:last-child) {
                &::after {
                    content: "/";
                    padding: 5px;
                }
            }

            a {
                text-decoration: none;
                color: inherit;
            }

            &.active {
                font-weight: 400;
                color: $text-color;
            }
        }
    }

    &__content {
        padding: 2rem 0;
        display: grid;
        grid-template-columns: 1fr 20%;
    }
}